.con {
    position: relative;
    width: auto;
    height: 117px;
    /* background-color : blue; */
    /* position: absolute; */
}

.lapimg {
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    /* z-index: 0; */
}

.box {
    display: inline-block;
    padding-top: 10%;
    padding-left: 15%;
    /* width: 75%; */
    /* margin-bottom: -50px; */
    /* position: relative; */
}

.meimg {
    background-color: red;
    position: relative;
    float: right;
    width: 140px;
    height: 140px;
    margin-top: 25px;
    margin-right: 60px;
    border: 10px solid #f8f8f8;
    border-radius: 100%;
}

.meimgbdr {
    background-color: brown;
    border-radius: 100%;
}

#hello {
    display: block;
    margin: 0;
    width: fit-content;
    text-align: center;
    font-size: large;
    font-family: 'Cherry Bomb One', cursive;
    color: whitesmoke;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: black;
    /* backdrop-filter: blur(10px);
    border-radius: 30%; */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    /* font-family: 'Pacifico', cursive; */
    /* block-size: fit-content; */
    /* font-family: 'Pacifico', cursive; */
            /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
            /* text-shadow: 1px 1px 1px black ; */
}

#name {
    display: block;
    width: fit-content;
        /* backdrop-filter: blur(10px);
            border-radius: 30%; */
    /* font-family: 'Saira Stencil One', cursive; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: xx-large;
    color: #f1faee;
    text-align: center;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: black; */
    /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
    /* text-shadow: 1px 1px 1px black ; */
}
